.header{
 width: 100%;
 display: flex;
 justify-content: space-between;
 margin-bottom: 15px;
}

.menu {
    width: 100%; 
    height: 103px; 
    left: 0px;
    top: 132px;
    border-radius: 10px;
    background: #2D9BF0;
    display: inline-flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.menu-item {
    width: 227px;
    height: 103px;
    left: 33px;
    text-align: center;
    color: white;
    font-size: 24px;
    font-family: Roboto Mono;
    font-weight: 700;
    word-wrap: break-word;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-cursos {
    width: 100vw;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(auto-fill, 383px);
}

.card {
    width: 383px;
    height: 256px;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px
}

.center-block {
margin: auto;
display: block;
}

.search-input {
    width: 792px; 
    height: 35px;
    border-radius: 10px;
    border-color: #2D9BF0;
    background: url("search.svg") no-repeat right;
    background-size: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
  }